.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media screen and (max-width:800px){
    padding-top:3%;
  }
}

.my-name{
  font-weight: 800;
  font-size: 20px;

  @media screen and (max-width:800px){
    font-weight: 500;
    font-size:15px;
  }
}

.link-tag{
  display: flex;
  flex-direction: row;
}

.github{
  padding-right: 10%;
  @media screen and (max-width:800px){
    padding-right:5%;
  }
}