body {
  font-family: 'Open Sans Condensed';
  padding:15px 25px;
  
  @media screen and (max-width: 800px) {
    padding: 10px;
  }
}

a {
  text-decoration: none;
  color:black
}

*{
  box-sizing: border-box
}